---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <main class="flex flex-col w-full gap-12 px-4 md:px-32 overflow-hidden">
    <h1 class="text-4xl font-bold">About</h1>
    <p class="text-lg">
      This is a simple blog built with Astro and Tailwind CSS. It uses Markdown
      for content and includes a RSS feed.
    </p>
    <p class="text-lg">
      The source code is available on{" "}
      <a href=""></a>
    </p>
  </main>
</Layout>
