---
import { Icon } from "astro-icon/components";
---

<section>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div
      class="md:row-start-1 md:col-span-2 opacity-0 translate-y-20 transition-all duration-500 ease-out"
      data-observe-up-in
    >
      <h2>Our Services - Guiding You Every Step of the Way</h2>
      <p class="mt-4">
        We offer a wide range of services to help you with your real estate
        journey. Whether you are buying, selling, or renting, we have you
        covered.
      </p>
    </div>

    <div class="md:row-start-2 md:col-span-2">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div
          class="opacity-0 -translate-x-10 transition-all duration-500 ease-out"
          data-observe-left-in
        >
          <div class="flex items-center gap-2">
            <Icon name="brand-cashapp" class="h-8 w-auto text-green-700" />
            <h3 class="!m-0">Home Buying Assistance</h3>
          </div>

          <p class="mt-4">
            We help you find the perfect property by understanding your needs,
            preferences, and budget. Our team will guide you through the entire
            process, from browsing listings to closing the deal, ensuring a
            smooth experience.
          </p>
        </div>

        <div
          class="opacity-0 translate-x-10 transition-all duration-500 ease-out"
          data-observe-right-in
        >
          <div class="flex items-center gap-2">
            <Icon name="cash-register" class="h-8 w-auto text-green-700" />
            <h3 class="!m-0">Property Selling Expertise</h3>
          </div>

          <p class="mt-4">
            Ready to sell your property? We'll craft a customized marketing
            strategy to maximize your home's visibility and value, connecting
            you with the right buyers and ensuring a seamless sale.
          </p>
        </div>

        <div
          class="opacity-0 -translate-x-10 transition-all duration-500 ease-out"
          data-observe-left-in
        >
          <div class="flex items-center gap-2">
            <Icon
              name="brand-google-big-query"
              class="h-8 w-auto text-green-700"
            />
            <h3 class="!m-0">Market Analysis & Insights</h3>
          </div>

          <p class="mt-4">
            Get access to up-to-date market trends and professional advice.
            Whether you're buying or selling, we'll provide the insights you
            need to make informed decisions.
          </p>
        </div>

        <div
          class="opacity-0 translate-x-10 transition-all duration-500 ease-out"
          data-observe-right-in
        >
          <div class="flex items-center gap-2">
            <Icon name="building-estate" class="h-8 w-auto text-green-700" />
            <h3 class="!m-0">Rental Property Services</h3>
          </div>

          <p class="mt-4">
            Looking to lease your property or find a rental? We match landlords
            with reliable tenants and help renters find the perfect place to
            call home.
          </p>
        </div>

        <div
          class="opacity-0 -translate-x-10 transition-all duration-500 ease-out"
          data-observe-left-in
        >
          <div class="flex items-center gap-2">
            <Icon name="arrow-guide" class="h-8 w-auto text-green-700" />
            <h3 class="!m-0">Real Estate Investment Guidance</h3>
          </div>

          <p class="mt-4">
            Thinking of investing in real estate? Our experts will help you
            identify profitable opportunities, evaluate risks, and manage your
            investment portfolio with confidence.
          </p>
        </div>

        <div
          class="opacity-0 translate-x-10 transition-all duration-500 ease-out"
          data-observe-right-in
        >
          <div class="flex items-center gap-2">
            <Icon name="adjustments-star" class="h-8 w-auto text-green-700" />
            <h3 class="!m-0">Personalized Consultation</h3>
          </div>

          <p class="mt-4">
            Every client is unique. We offer one-on-one consultations to
            understand your real estate goals and create a tailored plan that
            delivers results.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
